
#content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.photo-grid{
    width: auto;
    margin: auto;
    padding-left: 7%;
    color: maroon;
}
.header{
    color: maroon;
    font-family: cursive;
    font-size: 50px;
}  

img{
    float: left; 
    width: 30%; 
    margin-right: 1%; 
    margin-bottom: 0.5em;
}

a:link{
    padding: 3px;
    color: blue;
    text-decoration: none;
    background-color: whitesmoke;
}

a:visited{
    color: purple;
    text-decoration: none;
}

a:hover{
    color: lightblue;
    text-decoration: underline;
}

a:active{
    color:blue;
    text-decoration: underline;
}

body{
    margin: 40px 100px 120px 80px;
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button{
    display:inline-block;
    padding: 1px;
    border: 2px black;
    margin: auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: whitesmoke;
}
.button:hover{
    color:maroon;
}
